/** standard slickgrid css **/

.slick-cell.selected {
	border-top:1px solid #999;
	border-left:1px solid #999;
}

.slick-cell, .slick-header-column {
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.slick-header-column {
	text-align: center;
	margin:0.1em 0 0.2em;
	font-weight: normal !important;
}

.loading-indicator {
	display: inline-block;
	padding: 12px;
	background: white;
	-opacity: 0.5;
	color: black;
	font-weight: bold;
	z-index: 9999;
	border: 1px solid red;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 0 5px red;
	-webkit-box-shadow: 0px 0px 5px red;
	-text-shadow: 1px 1px 1px white;
}

.loading-indicator label {
	padding-left: 20px;
	background: url('images/ajax-loader-small.gif') no-repeat center left;
}

.toggle {
	display: inline-block;
	height: 9px;
	width: 17px;
}

.even {
	background: #FFFFFF !important;		
}

.odd {
	background: #FAFAFA !important;	
}

.toggle.collapse {
	background:url("images/slick-grid/collapse.gif") no-repeat scroll center center transparent;
}

.toggle.expand {
	background:url("images/slick-grid/expand.gif") no-repeat scroll center center transparent;
}
